*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/inspectionProfiles
.idea
.DS_Store
/build
/app/build
/app/release/
/android/build/
/captures
/app/release/
/app/build/
/android/build/
.externalNativeBuild
/app/.cxx